<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>RegistrarServlet</servlet-name>
        <servlet-class>RegistrarServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logoutServlet</servlet-name>
        <servlet-class>logoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CrearTorneoServlet</servlet-name>
        <servlet-class>CrearTorneoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewServlet</servlet-name>
        <servlet-class>NewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarTorneoServlet</servlet-name>
        <servlet-class>EliminarTorneoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TorneoDetallesServlet</servlet-name>
        <servlet-class>TorneoDetallesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterParticipationServlet</servlet-name>
        <servlet-class>RegisterParticipationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterTeamServlet</servlet-name>
        <servlet-class>RegisterTeamServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetEquiposServlet</servlet-name>
        <servlet-class>GetEquiposServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckEquipoServlet</servlet-name>
        <servlet-class>CheckEquipoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JoinTeamServlet</servlet-name>
        <servlet-class>JoinTeamServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LeaveTeamServlet</servlet-name>
        <servlet-class>equipo.LeaveTeamServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LeaveTeamServ</servlet-name>
        <servlet-class>LeaveTeamServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GenerateSeedsServlet</servlet-name>
        <servlet-class>GenerateSeedsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetBracketDataServlet</servlet-name>
        <servlet-class>GetBracketDataServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveBracketResultsServlet</servlet-name>
        <servlet-class>SaveBracketResultsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveMatchServlet</servlet-name>
        <servlet-class>SaveMatchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveBracketServ</servlet-name>
        <servlet-class>SaveBracketServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmpezarSevrlet</servlet-name>
        <servlet-class>EmpezarSevrlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmezarServlet</servlet-name>
        <servlet-class>EmezarServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmpezarServlet</servlet-name>
        <servlet-class>EmpezarServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendResetCodeServlet</servlet-name>
        <servlet-class>SendResetCodeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePasswordServlet</servlet-name>
        <servlet-class>ChangePasswordServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegistrarServlet</servlet-name>
        <url-pattern>/RegistrarServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logoutServlet</servlet-name>
        <url-pattern>/logoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CrearTorneoServlet</servlet-name>
        <url-pattern>/CrearTorneoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewServlet</servlet-name>
        <url-pattern>/NewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarTorneoServlet</servlet-name>
        <url-pattern>/EliminarTorneoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TorneoDetallesServlet</servlet-name>
        <url-pattern>/TorneoDetallesServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterParticipationServlet</servlet-name>
        <url-pattern>/RegisterParticipationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterTeamServlet</servlet-name>
        <url-pattern>/RegisterTeamServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetEquiposServlet</servlet-name>
        <url-pattern>/GetEquiposServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckEquipoServlet</servlet-name>
        <url-pattern>/CheckEquipoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JoinTeamServlet</servlet-name>
        <url-pattern>/JoinTeamServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LeaveTeamServlet</servlet-name>
        <url-pattern>/LeaveTeamServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LeaveTeamServ</servlet-name>
        <url-pattern>/LeaveTeamServ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GenerateSeedsServlet</servlet-name>
        <url-pattern>/GenerateSeedsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetBracketDataServlet</servlet-name>
        <url-pattern>/GetBracketDataServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveBracketResultsServlet</servlet-name>
        <url-pattern>/SaveBracketResultsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveMatchServlet</servlet-name>
        <url-pattern>/SaveMatchServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveBracketServ</servlet-name>
        <url-pattern>/SaveBracketServ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmpezarSevrlet</servlet-name>
        <url-pattern>/EmpezarSevrlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmezarServlet</servlet-name>
        <url-pattern>/EmezarServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmpezarServlet</servlet-name>
        <url-pattern>/EmpezarServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendResetCodeServlet</servlet-name>
        <url-pattern>/SendResetCodeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePasswordServlet</servlet-name>
        <url-pattern>/ChangePasswordServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
